@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section SEO
{
    <meta name="Keyword" content="main page , shop , index"/>
    <meta name="Description" content="shop description" />
}

<section id="one">
    <header class="major">
        <h2>
            تماس با من
        </h2>
    </header>
</section>

<section id="two">
    <div class="row">
        <table>
            <tr>
                <td>Email:</td>
                <td>mahdiabasi.315@gmail.com</td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td>09360325019</td>
            </tr>
            <tr>
                <td>Github:</td>
                <td>oosmahdi80</td>
            </tr>
        </table>
    </div>
</section>

