@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "فروشگاه";
    // ViewData["Keywords"] = "shop , shopping";
}
@section SEO
{
    <meta name="Keywords" content="shop , course "/>
}
<h1>This gonna be a shop one day</h1>

